grant {
  // Needed to read the audit log file
  permission java.io.FilePermission "${tests.audit.logfile}", "read";
  permission java.io.FilePermission "${tests.audit.yesterday.logfile}", "read";
  permission java.io.FilePermission "setup_test_emp.sql", "read,execute";
};
